<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card" class="card text-bg-info mb-3">
        <div class="card-body">
          <h5 class="card-title">I am a Patient</h5>
          <p class="card-text">Sign-up as a patient.</p>
          <a href="#" class="btn btn-primary">Sign-up</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card"class="card text-bg-info mb-3">
        <div class="card-body">
          <h5 class="card-title">I am a Doctor</h5>
          <p class="card-text">Sign-up as a Doctor.</p>
          <a href="#" class="btn btn-primary">Sign-up</a>
        </div>
      </div>
    </div>
  </div>
  <p></p>
  <br>
  <p></p>
  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card"class="card text-bg-info mb-3">
        <div class="card-body">
          <h5 class="card-title">I am a LabTech</h5>
          <p class="card-text">Sign-up as a lab technician.</p>
          <a href="#" class="btn btn-primary" routerLink="/login-lab-tech" >Sign-up</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card"class="card text-bg-info mb-3">
        <div class="card-body">
          <h5 class="card-title">I am an Admin</h5>
          <p class="card-text">Sign-up as an administrative.</p>
          <a href="#" class="btn btn-primary">Sign-up</a>
        </div>
      </div>
    </div>
  </div>
  <p></p>
