<p class="h3">The Terms and Conditions</p>
    <br>
    <style>
        div {
            text-align: justify;
            text-justify: inter-word;
        }
    </style>
<div>
<p class="fs-6">The Terms and Conditions for the XYZ Medical Laboratory website outline guidelines for lawful use, 
    protection of intellectual property, and user responsibilities. Users must maintain the confidentiality 
    of account credentials and refrain from prohibited activities such as disrupting servers or accessing 
    unauthorized areas. Third-party links are beyond the control of XYZ Medical Laboratory, and the 
    website is provided without warranties, with limitations on liability. Users agree to indemnify XYZ 
    Medical Laboratory against claims arising from website use. These terms are governed by applicable laws, 
    and modifications may occur at any time. Users are encouraged to contact XYZ Medical Laboratory for any 
    inquiries or concerns.</p>
</div>
