<p class="h3">Patient's Dashboard</p>
<br>
<div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card" class="card text-bg-light mb-3">
        <div class="card-body">
            <h5 class="card-title">Book A Lab Test</h5>
            <p class="card-text">Book an appointment for your lab test</p>
            <a href="#" class="btn btn-primary" routerLink="/book-appointment">Book A Test</a>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="card" class="card text-bg-light mb-3">
        <div class="card-body">
            <h5 class="card-title">View Lab Test Reports</h5>
            <p class="card-text">View your previouse test reports</p>
            <a href="#" class="btn btn-primary" routerLink="">View Reports</a>
        </div>
    </div>
</div>
<br>
<a href="#" class="btn btn-primary" routerLink="">Log Out</a>