<p class="h3">Administrative Dashboard</p>
<br>
<div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card" class="card text-bg-light mb-3">
        <div class="card-body">
            <h5 class="card-title">Report Generator</h5>
            <p class="card-text">Generate Patient's Report</p>
            <a href="#" class="btn btn-primary" routerLink="/report-generate">Generate</a>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="card" class="card text-bg-light mb-3">
        <div class="card-body">
            <h5 class="card-title">Manage Lab Tests</h5>
            <p class="card-text">Adding, Update & Delete Lab Tests when required</p>
            <a href="#" class="btn btn-primary" routerLink="/manage-lab-tests">Manage</a>
        </div>
    </div>
</div>
<br>
<a href="#" class="btn btn-primary" routerLink="">Log Out</a>