<div class="col-sm-10">
  <label for="formGroupExampleInput" class="form-label" class="fw-medium">Select A Test</label>
  <select class="form-select" aria-label="Default select example">
    <option>--Select A Test--</option>
    <option *ngFor="let test of labTest">
      {{test.testName+" "+"Rs."+(test.testCost)}}
    </option>
  </select>
</div>
<br>
<div class="col-sm-10">
  <label for="formGroupExampleInput" class="form-label" class="fw-medium">Doctor who recomanded the test</label>
  <select class="form-select" aria-label="Select the Doctor">
    <option>--Select the Doctor--</option>
    <!-- <option *ngFor="let test of labTest">
            {{test.testName+"   "+"Rs."+(test.testCost)}}
        </option> -->
  </select>
</div>
<!-- <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Test Cost</label>
    <input type="text" class="form-control" [(ngModel)]="labTest.testCost" placeholder="Cost">
  </div> -->
<br>
<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label" class="fw-medium">Full Name</label>
  <input type="text" class="form-control" [(ngModel)]="patient.name" placeholder="Enter Your Name">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label" class="fw-medium">Contact Number</label>
  <input type="text" class="form-control" [(ngModel)]="patient.contactNumber" placeholder="Enter Your Mobile Number">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label" class="fw-medium">Email Address</label>
  <input type="email" class="form-control" [(ngModel)]="patient.email" placeholder="name@example.com">

</div>
<br>
<div>
  <mat-form-field class="example-full-width">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" (dateChange)="dateChanged($event)">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button mat-stroked-button (click)="picker.open()">Pick A Date</button>
</div>


<br>

<div>
  <button (click)="createPatient()" class="btn btn-primary" routerLink="/payment">Submit & Payment</button>
</div>
<p></p>