<p></p>
<br>
<br>
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-3">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Pay By Card</h5>
                <p class="card-text">Your payment is on your finger tips.</p>
                <a routerLink="/pay-by-card" class="btn btn-primary">Pay By Card</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card text-center" >
            <div class="card-body">
                <h5 class="card-title">Pay By Cash</h5>
                <p class="card-text">Pay when you are arrived.</p>
                <a routerLink="/payment" class="btn btn-primary">Confirm</a>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<p></p>